services:
  api:
    build:
      context: .
      dockerfile: src/API/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=clima_db;Username=postgres;Password=postgres123
      - OpenWeatherMap__ApiKey=7fec86f58c595e84a175de926897fa84
      - Jwt__SecretKey=ConsultWeatherSuperSecretKey2026!@#MinLength32Chars
      - Jwt__Issuer=ConsultWeather
      - Jwt__Audience=ConsultWeather
      - Jwt__ExpirationInMinutes=60

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api

  db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: clima_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: